div {
}

.main-content {
  background-color: #b3dbdb;
  height: 100vw;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #b3dbdb;
}

.backdrop img {
  margin: 40px 0 40px;
  height: 400px;
  border-color: black;
  box-shadow: 3px 3px 3px 3px black;
  border-radius: 3px;
}

.overview {
  height: 90%;
  margin: 30px;
}

.trailer {
  border: solid black;
  display: flex;
}

iframe {
  border: none;
  margin: 40px;
}
