/* -- import fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

/* -- Global -- */
* {
  -moz-box-sizing: border-box; /* Firefox */
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

/* -- Variables -- */
:root {
    --main-color: darkslategrey; /* Main background color */
    --hdr-footer-color: #162638; /* Header and footer color */
    --font-primary: 'Poppins', sans-serif; /* Main Font */
    --font-secondary: 'Lora', serif; /* Secondary font */
    --headline-txt-color: #FFAE00; /* Headline text color (h2) */
    --body-txt-color: black; /* Body text color (p) */
    --icons-color: black; /* All google icons color */
    --horizontal-line-color: #FFAE00; /* Horizontal line (hr tag) color */
    /* -- Videos page -- */
}

html {
    overflow-x: hidden; /* Fix for scrollbar jumping */
    margin-right: calc(-1 * (100vw - 100%)); /* Fix for scrollbar jumping */
}

/* -- Grid layout -- */
body {
  min-height: 100vh; 
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 100px auto 100px; /* 100px on the left and, right. and the middle is set to auto to stretch whatever content i put in. */
  grid-template-rows: 100px auto 100px; /* This sets the header 100px the main content to auto to stretch and the footer to 100px */
  grid-template-areas:
    "header header header"
    "....   main   ...."
    "footer footer footer";
}

header { grid-area: header; background-color: var(--hdr-footer-color) }
main { grid-area: main; }
footer { grid-area: footer; background-color: var(--hdr-footer-color) }

img {
    max-width: 100%; /* Sets all the images to max width 100% to make them fluid */
    height: auto;
}

/* -- Tools- classes reusables  */
.margin-column-row { /* margin for columns below each column row*/
    margin: 20px 0; /* Margin 20px top and bottom */
}

.list-remove-inline > ul > li,
.list-remove-inline > ul > li > a { /* Removes list decoration, styles and displays the list inline */
    list-style-type: none;
    text-decoration: none;
    display: inline; 
}

.material-symbols-outlined.size { /* Google icon size and styling reuse this use the same size icon for all icons */
    display: block; /* So my label text under it gets displayed on a new line */
    font-size: 40px;
    color: var(--icons-color)
}

.material-symbols-outlined:hover { /* All google icons fills when hovering */
    font-variation-settings:
    'FILL' 1
  }

.horizontal-line {
    border: none;
    height: 5px;
    background: var(--horizontal-line-color);
    margin: 20px 0; 
}


/* -- Typography (following materiel design guidelines) -- */
h1 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
}

h2 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: .0;
}

h3,h4 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .0;
}

p { 
    font-family: var(--font-secondary);
    max-width: 40em; /* This is to control the line length on all text with the p tag */
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

label{
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;

}

.header-container ul li a {
    font-family: var(--font-secondary);
    font-weight: 700;
    color: #333333;
    font-size: 16px;
}


/* -- Styling for the wrapper inside the header this covers the whole header -- */
.header-container {
    display: flex;
    align-items: center; 
    justify-content:space-between;
    margin: 0 100px; /* This makes the margin top 0 and 100px on each side */
    height: 100%; 
}

.container-cart-login{ /* Wrapper for the cart and login icons */
    display: flex;
    
}

.icons-header, .icons-header a{ /*  the a tag for text decoration:none */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.icons-header{
    padding: 10px;
}

/* -- Navigation -- */
.nav-buttons {
    border-radius: 8px;
    transition: background-color 0.3s ease;
    transition: transform 0.2s ease-in-out;
    padding: 10px 20px; /* Padding vertical 10px, horizontal 20px */

}

.nav-buttons:hover {
  background-color: #009d9d;
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.nav-buttons.active { /* This adds color for buttons when "active" */
    background-color: #008787;
    color: white;
  }

.hero-section {
   border: solid black;
   width: 100%;
   height: 500px;
}

/* -- Styling for the new releases section -- */
.new-releases { /* Container for the new releases section */
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  }
  
  .new-releases-card {
    transition: transform 0.2s;
    max-width: 9%;
    
  }
  
  .new-releases-card:hover {
    transform: scale(1.1);
  }
  
  .new-releases-card > img {
    border-radius: 20px;
    transition: transform 0.2s; /* Add transition for the image */
  }
  
  .new-releases-card:hover img {
    transform: scale(1.1); /* Scale up the image on hover */
    border-radius: 20px;
  }
  

/* -- Footer -- */
.footer-container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 0 100px; /* This makes the margin top 0 and 100px on each side */
    height: 100%;  
}

/* -- Videos page (Merge videos.css in here when done) -- */



/* -- About page css (Merge about.css in here when done) -- */

/* -- Contact page css (Merge contact.css in here when done) -- */

/* -- Product page css (merge product-page.css in here when done) -- */


/* -- Page specific layouts -- */ 
/* -- create classes here for different page layouts. -- */
.aboutme-grid{
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


/* -- Typography smaller screens -- */


/*Media Querys