@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@400;500;700&display=swap");

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*-------->>> =Resets <<<-----------------------*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
* {
  /* Firefox */
  -moz-box-sizing: border-box;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*-------->>> =Variables <<<--------------------*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

:root {
  /* Main Font */
  --font-primary: "Poppins", sans-serif;

  /* Secondary font */
  --font-secondary: "Lora", serif;

  /* Main background color */
  --main-color: #008787;

  /* Header and footer color */
  --hdr-footer-color: #ccc;

  /* Headline text color (em emphasis) */
  --emphasis-text-color: #ffae00;

  /* Body text color (p) */
  --body-txt-color: black;

  /* All google icons color */
  --icons-color: black;

  /* Horizontal line (hr tag) color */
  --horizontal-line-color: #ffae00;

  /* Star rating color */
  --star-rating-color: yellow;

  /* Product card background color */
  --product-card-background-color: #019b9b;

  /*Button background color on product page */
  --button-background-color-prodpage: #018c8c;

  /* Link color */
  --link-color: blue;

  /* Button text color on moviecards (videos page) */
  --btn-text-color-card: #fff;

  --sidebar-color: #ccc;

  /* Border radius for images/buttons/divs */
  --border-radius: 10px;

  /* Breadcrumb icon size */
  --breadcrumb-icon-size: 10px;
}

/* -------------------------------------------- */
/* -------->>> =Global & =Layout <<<----------- */
/* -------------------------------------------- */

header {
  grid-area: header;
  background-color: var(--hdr-footer-color);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: var(--hdr-footer-color);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--main-color);

  /*
  #Main grid layout# 
	grid-template-columns sets margin 150px left,right middle to auto
	grid-template-rows sets header 100px, footer 150px, main content auto

*/

  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 100px auto 150px;
  grid-template-areas:
    "header header header"
    "....   main   ...."
    "footer footer footer";
}

html {
  overflow-x: hidden; /* Fix for scrollbar jumping dont remove, no clue why it works but... it works*/
  margin-right: calc(-1 * (100vw - 100%)); /* Fix for scrollbar jumping, no clue why it works but... it works*/
  scroll-behavior: smooth;
}

a {
  text-decoration: none; /* Removes the underline on all links */
  cursor: pointer; /* Every a element has a pointer cursor, i need this here since some links didnt have it */
}

p {
  max-width: 40em; /* This is to control the line length on all text with the p tag */
}

img {
  max-width: 100%; /* Sets all the images to max width 100% to make them fluid, setting this to auto created problems */
  height: auto;
}

/* ------------------------------------------------*/
/* -------->>> =Header/=Navigation <<<-------------*/
/* ------------------------------------------------*/

/* This is the container for the header i place everything inside here */

.header-container {
  justify-content: space-between;
  margin: 0 150px; /* This makes the margin on bothe sides 150px this is to follow the main layout */
  height: 100%;
}

/* Styling Nav buttons */
.nav-buttons {
  font-family: var(--font-primary);
  font-weight: 700;
  padding: 10px 20px; /* Padding vertical 10px, horizontal 20px */
  color: black; /* Black text color */
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease-in-out;
}

/* Change the background color on hover and active */
.nav-buttons:hover,
.nav-buttons.active {
  background-color: var(--main-color);
  color: white; /* Change the text color on hover and active */
}

.nav-buttons:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.hamburger {
  display: none;
}

/* -----------------------------------------*/
/* -------->>> =Main content----------------*/
/* ------------=Home page <<<---------------*/
/* -----------------------------------------*/

.hero-section {
  min-height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/assets/othercontent/movie-background-collage 1.png"); /* Background img with overlay */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Container for the new releases section */
.new-releases {
  border-radius: var(--border-radius);
  background-color: #000000;
  border: 1px solid #ffae00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: auto;
  height: auto;
  padding: 20px;
}

.img-card {
  border-radius: var(--border-radius);
  height: auto;
  width: 80%; /* Use this to control the container */
}

/* On hover scales the image up and add a border radius adds drop shadow */
.img-card:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
  filter: drop-shadow(1rem 1rem 3rem rgba(0, 0, 0, 0.5));
}
/* -------------------------------------------*/
/* -------->>> =Main content------------------*/
/* ------------=Videos Page <<<---------------*/
/* -------------------------------------------*/
/* Grid container for movie cards - */
.movie-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 20px; /* Adds a 20px gap between grid items */
  justify-content: center;
}

/* Styles for movie cards */
.movie-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: left;
  background-color: var(--product-card-background-color);
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.2s;
  margin: 10px;
  box-shadow: 0 0 2px #ccc;
}

/* Hover effect for movie cards */
.movie-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px #ccc;
}

.movie-card img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
}

.movie-card label {
  margin-top: 10px;
  text-align: left;
  font-size: 0.9rem;
  color: var(--body-text-color);
  padding: 0 10px;
}

/* Button styles */
.button-style {
  background-color: var(--button-background-color-prodpage);
  color: var(--btn-text-color-card);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.button-style:hover {
  background-color: #016767;
}

.category-buttons {
  display: flex;
  justify-content: center; /* Center align the buttons */
  flex-wrap: wrap;
  margin: 10px;
}

/* --------------------------------------------*/
/* -------->>> =Main content-------------------*/
/* ------------=Product page <<<---------------*/
/* --------------------------------------------*/
/* container for the banner/backdrop */
.img-product-page {
  width: 20%;
  border-radius: var(--border-radius);
  border-color: black;
  box-shadow: 3px 3px 3px 3px black;
}

/* container for the movie title, rating, and overview */
.overview {
  margin: 30px;
}

iframe {
  /* Youtube video */
  border: none; /* Removes border, all youtube links have a border that looks ugly */
  margin: 40px;
  height: 400px;
  width: 50%;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 3px 3px black;
}

.star-rating {
  color: var(--star-rating-color);
  font-variation-settings: "FILL" 1; /* This fills the stars with color */
}

/* -----------------------------------------*/
/* -------->>> =Main content----------------*/
/* ------------=Cart <<<--------------------*/
/* -----------------------------------------*/

.breadcrumb-cart {
  /* This is breadcrumbs specific to the cart */
  display: flex;
  align-items: center;
  text-align: center;
}

.breadcrumb-cart span {
  /* Styling for the breadcrumb icons (arrow) */
  font-size: var(--breadcrumb-icon-size);
  font-weight: 700;
}

.wrapper-cart-section1 {
  /* Wrapper for the cart */
  width: 100%;
  height: 300px;
}

.wrapper-cart-section1 img {
  /* Movie product for the cart */
  width: auto;
  border-radius: var(--border-radius);
}

.cart-item-name {
  /* Styling for the movie name */
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.price-cart {
  width: 100%;
  justify-content: right;
  align-items: center;
}

.cart-spacebetween {
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.credit-card {
  flex-direction: row;
  justify-content: space-between;
}

.img-wrapper {
  /* Wrapper for the image purchased product */
  width: 40%;
  border-radius: var(--border-radius);
}

.img-wrapper img {
  border-radius: var(--border-radius);
}

/* -----------------------------------*/
/* -------->>> =Footer <<<------------*/
/* -----------------------------------*/
/* All footer styling here */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px; /* Margin 150px on both sides to follow the main layout */
  height: 100%;
}

.footer-items a {
  /* Container for items in the footer quick links, copyright etc.  */
  display: flex;
  flex-direction: column;
  width: 90px;
  color: var(--link-color);
  font-family: var(--font-secondary);
}

/* --------------------------------------*/
/* -------->>> =Reusables <<<------------*/
/* --------------------------------------*/

.button {
  /* Main button styling reuse this */
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 4px 2px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0711dd;
  color: white;
}

.flex {
  /* Reuse this for flexbox */
  display: flex;
}

/* Reuse this for flexbox column */
.direction-column {
  flex-direction: column;
}

/* If i just need to align items center (need flex or grid for it to work) */
.align-items-center {
  align-items: center;
}

/* One class for aligning everything center */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

/* Reuse this for removing list styling */
.no-list li {
  list-style-type: none;
}

/* Reuse this for inline list styling */
.no-list.inline li {
  display: inline;
}

/* Simple white background class that i can use either on the body (for the margins) or on the main content/ divs */
.white-background {
  background-color: white;
}

.material-symbols-outlined.size {
  /* (.material-symbols-outlined size) Google icon size and styling reuse this use the same size icon for all main icons */
  display: block; /* This is so my label text under it gets displayed on a new line */
  font-size: 40px;
  color: var(--icons-color);
}

.material-symbols-outlined:hover {
  /* This is so the google icons fills when you hover over them */
  font-variation-settings: "FILL" 1;
}

/*This is margin 10px top and bottom reuse this where needed*/
.margin-column-row {
  margin: 20px 0;
}

.margin-top {
  margin-top: 50px;
}

.horizontal-line {
  /* This is styling for the HR tag between sections on the main page*/
  border: none;
  height: 5px;
  background: var(--horizontal-line-color);
  margin: 20px 0;
}

/* ------------------------------------*/
/* -------->>> =Typography <<<---------*/
/* ------------------------------------*/
/* The font sizes and lenghts are in the media querys */
h1,
h2,
h3,
h4,
label {
  color: var(--body-txt-color);
  font-family: var(--font-primary);
}

em {
  color: var(--emphasis-text-color);
}

p {
  color: var(--body-txt-color);
  font-family: var(--font-secondary);
}

/* ------------------------------------*/
/* -------->>> =Forms <<<--------------*/
/* ------------------------------------*/

/* main container for the forms */
.form-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2%;
  width: 600px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #fff;
}

/* Wrapper container for the form */
.form-wrapper {
  justify-content: center;
  margin: 10px;
}

/* Styling for all the inputs in forms */
.form-wrapper input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #ccc;
}
/* To make message box bigger on the contact page */
#message {
  width: 100%;
  height: 150px;
}

/* --------------------------------------*/
/* -------->>> =Media Querys <<<---------*/
/* --------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 630px) {
  /*---- Layout----*/

  body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 300px; /* This sets the header 100px, the main content to auto to stretch, and the footer to 150px */
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  /* -- navigation__menu -- */
  .nav-buttons {
    /* Hides the main nav links on mobile */
    display: none;
  }

  /* Change the header to be fixed so it follow you while scrolling on mobile */
  header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100px;
  }

  .logo {
  }

  /* Hamburger menu */
  .hamburger {
    display: block; /* Shows the hamburger menu on mobile */
    position: fixed; /* This is so the hamburger menu stays fixed on the screen */
    left: 0;
    z-index: 1;
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--button-background-color-prodpage);
    z-index: 1; /* This is so the hamburger menu stays above everything else */
    width: 50%;
    transition: left 0.3s ease;
    font-size: 40px;
    filter: box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }

  input#hamburger-on:checked + label.hamburger-menu + aside.hamburger-menu {
    left: 0;
  }

  input#hamburger-on:not(:checked) + label.hamburger-button + aside.hamburger-menu {
    left: 100%;
    transition: ease-out 0.3s;
  }

  input[type="checkbox"] {
    /* Hides the checkbox */
    display: none;
  }

  /*-- Form styling --*/
  .form-container {
    width: 70%;
    height: auto;
    padding: 5%;
  }

  .header-container {
    margin: 0 50px;
  }

  .movie-cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    gap: 0;
    justify-content: start; /* Thanks stack overflow! */
  }

  /* !!!!!!!!!!!!!!!!!! TYPOGRAPHY IS WRONG FIX THIS !!!!!!!!!!!!!!!!!!
  /* 		-- Typography -- */
  h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
  }

  h2,
  h3,
  h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  label {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1240px) {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 300px; /* This sets the header 100px, the main content to auto to stretch, and the footer to 150px */
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  /* -- navigation__menu -- */
  .nav-buttons {
    /* Hides the main nav links on mobile */
    display: none;
  }

  /* Change the header to be fixed so it follow you while scrolling on mobile */
  header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100px;
  }

  .logo {
  }

  /* Hamburger menu */
  .hamburger {
    display: block; /* Shows the hamburger menu on mobile */
    position: fixed; /* This is so the hamburger menu stays fixed on the screen */
    left: 0;
    z-index: 1;
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--button-background-color-prodpage);
    z-index: 1; /* This is so the hamburger menu stays above everything else */
    width: 50%;
    transition: left 0.3s ease;
    font-size: 40px;
    filter: box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }

  input#hamburger-on:checked + label.hamburger-menu + aside.hamburger-menu {
    left: 0;
  }

  input#hamburger-on:not(:checked) + label.hamburger-button + aside.hamburger-menu {
    left: 100%;
    transition: ease-out 0.3s;
  }

  input[type="checkbox"] {
    /* Hides the checkbox */
    display: none;
  }

  /*-- Form styling --*/
  .form-container {
    width: 70%;
    height: auto;
    padding: 5%;
  }

  .header-container {
    margin: 0 50px;
  }

  /* 		-- Typography -- */
  h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
  }

  h2,
  h3,
  h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  label {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}

@media screen and (min-width: 1024px) {
}

/*                               _.-="_-         _
                         _.-="   _-          | ||"""""""---._______     __..
             ___.===""""-.______-,,,,,,,,,,,,`-''----" """""       """""  __'
      __.--""     __        ,'                   o \           __        [__|
 __-""=======.--""  ""--.=================================.--""  ""--.=======:
]       [Ø] : /        \ : |========================|    : /        \ :  [Ø] :
V___________:|          |: |========================|    :|          |:   _-"
 V__________: \        / :_|=======================/_____: \        / :__-"
 -----------'  "-____-"  `-------------------------------'  "-____-"

- Øyvind
 */
