:root {
  --body-text-color: #333;
  --product-card-background-color: #019b9b;
  --button-background-color: #018c8c;
  --button-text-color: #fff;
}

/* Grid container for movie cards - */
.movie-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 20px; /* Adds a 20px gap between grid items */
  justify-content: center;
}

/* Styles for movie cards */
.movie-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--product-card-background-color);
  border-radius: 10px;
  padding: 10px;
  border: 10px solid var(--product-card-border-color);
  transition: transform 0.2s;
  margin: 10px;
  box-shadow: 0 0 2px #ccc;
}

/* Hover effect for movie cards */
.movie-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px #ccc;
}

.movie-card img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Enhanced box shadow */
  height: 300px;
}

.movie-card label {
  margin-top: 10px;
  text-align: left;
  font-size: 0.9rem;
  color: var(--body-text-color);
  padding: 0 10px;
}

/* Typography styles */
h2 {
  font-size: 1.6rem;
  margin: 10px 0;
}

/* Button styles */
.button-style {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.button-style:hover {
  background-color: #016767;
}

.category-buttons {
  display: flex;
  justify-content: center; /* Center align the buttons */
  flex-wrap: wrap;
  margin: 10px;
}
