.movie-cards-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .movie-card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #018c8c26;
    margin: 10px; 
    border-radius: 10px; 
  }
  
  .movie-card img {
    border-radius: 10px;
    transition: transform 0.2s;
    max-width: 100%; 
  }
  
  .movie-card img:hover {
    transform: scale(1.1);
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  p {
    font-size: 1rem;
    color: #000000;
  }
  
  button {
    background-color: #018c8c;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #016767;
  }